/* body{
    color: red;
}


h1{
color:blue;
}

h2 {
color:green;
}

#lib-srj{
    color:grey;
}

.para{
    color:pink;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
     margin: 0px;
}

hr{
    margin: 2rem 0rem;
}

.container{
    /* padding-left:1rem;
    padding-right: 1rem; */
    padding: 0.5rem 0.5rem;
    
}
.container-cont{
     padding-left:1rem;
    padding-right: 1rem; 
padding-block-start: 5rem;
padding-block-end: 2rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}
/* #DC2626
7C3AED */
:root{
--primary-color:#14B8A6;
--dark-gray: #6B7280;
--off-white: #F3F4F6;

}

/* main */
/* #E11D48 */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

.primary-link{
    color:var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}    

.secondary-link{
    color:var(--primary-color);
    background-color: white;
    border-radius: 0.5rem;
    border: 0.5px solid var(--primary-color);
}
.third-link{
    text-decoration: none;
    font-weight: bold;
    color:red;
}


  .list-non-bullets{
      list-style: none;
  }

  .list-inline-items{
      display: inline;
      padding: 0rem 0rem;
  }
  .navigation{
      background-color: var(--primary-color);
      color: white;
      border-bottom-left-radius: 1rem;
}
.navig{
    background-color: var(--primary-color);
    color:black;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color:white;
}
.navigation .nav-pills{
    text-align: right;

}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navig .nav-br{
    font-weight: normal;
    font-size: 2rem;


}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding:  2rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .frnd-image{
    max-width: 1000px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    padding-top: 1rem;
    text-align: center;
    color: var(--dark-gray);
}
.hero .hero-heading .heading-inverted{
color: var(--primary-color);
}

.section h1{
    text-align: center;
    

}
.section{
    padding: 2rem;
}
.ow{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}